<section class="content" id="about">
    <div class="block-content">
        <h3 class="block-title">Profile</h3>
        <h3 class="subheading">¡Welcome! Saso-Organizer´s <strong>Professional Home Organizer’s and Cleaning Services
            ✨ Harmony • Peace and Free Spaces</strong></h3>
        <p>At SasoOrganizer´s, we are passionate about transforming every corner into a functional, harmonious and efficient place. We are a leading space organization company dedicated to creating environments that reflect the personality and unique needs of our clients. Whether at home or in the workplace, we believe that a well-organized space can significantly improve 
        quality of life and increase productivity.</p>
        <div class="info-list row" >
            <!-- <div class="col-sm-6"><span>Nombre : </span> Anderson Bastidas</div> -->
            <!-- <div class="col-sm-6"><span>Fecha de Nacimiento : </span> Junio 10, 1987 </div> -->
            <div class="col-sm-6" *ngFor="let personPDatasx of cs.newPdata"><span>{{personPDatasx.name_personalData}}</span>{{personPDatasx.descrip_personalData}}</div>
            <!-- <div class="col-sm-6"><span>Email : </span> @@@</div>
            <div class="col-sm-6"><span>Telefono : </span> + 1(404) 578 5294</div> -->
            <!-- <div class="col-sm-6"><span>Interes : </span> Frelance, Full-Time</div> -->
        </div>
    </div>
    <!-- <div class="block-content">
        <h3 class="block-title">Profesional</h3>
       
          <label class="progress-bar-label"></label>
          <div class="progress">
              <div aria-valuemin="0" aria-valuemax="100">
                  <span></span>
              </div>
          </div>
      </div> -->

    <!-- <div class="block-content">
        <h3 class="block-title">Experiencia</h3>
        <div class="timeline experience">
            <div class="row">
                <div class="col-md-12">
                    <div class="exp-holder">
                        <div>
                          <div class="exp">
                              <div class="hgroup">
                                  <h4><span></span> - </h4>
                                  <h5>  </h5>
                              </div>
                              <p></p>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- <div class="block-content">
        <h3 class="block-title">Educación</h3>
        <div class="timeline education">
            <div class="row">
                <div class="col-md-12">
                    <div class="exp-holder">
                      <div >
                        <div class="exp">
                            <div class="hgroup">
                                <h4>... <a  target="_blank"><span>Ver Certificado</span></a></h4>
                                <h5>...</h5>
                            </div>
                            <p>...</p>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="block-content"  >
        <h3 class="block-title">Services</h3>
        <div class="row">
           <div class="col-md-4 col-sm-6 service" *ngFor="let servicesx of cs. newServices">
                <div class="" >
                  <img src="{{servicesx.icon_services}}" alt=""> 
                </div>
                <h4>{{servicesx.name_services}}</h4>
                <p>{{servicesx.descrip_services}}</p>
            </div>
       
          

            
          
        </div>
    </div>
   <!--  <div class="block-content">
        <h3 class="block-title">Awards</h3>
        <div class="row">
            <div class="col-md-3 col-sm-6 awards">
                <img src="assets\images\awards\1.jpeg" alt="">
            </div>
            <div class="col-md-3 col-sm-6 awards">
                <img src="assets\images\awards\2.jpeg" alt="">
            </div>
            <div class="col-md-3 col-sm-6 awards">
                <img src="assets\images\awards\3.jpeg" alt="">
            </div>
            <div class="col-md-3 col-sm-6 awards">
                <img src="assets\images\awards\4.jpeg" alt="">
            </div>
        </div>
    </div> -->
    <!-- <div class="block-content">
        <h3 class="block-title">Testimonios</h3>
        <div class="row">
            <div id="liontestimonial" class="owl-carousel owl-theme">
                <div>
                  <div class="item testimonials">
                      <img src="assets\images\testimonials\1.jpeg" alt="">
                      <blockquote>
                          <p class="quote"><span></span></p>
                      </blockquote>
                  </div>
              </div>

            </div>
        </div>
    </div> -->
    <!-- <div class="row text-center">
        <div class="col-md-12 btn-email">
            <a class="btn lowercase">davisanderson87@gmail.com</a>
        </div>
    </div> -->
</section>
