<section class="content"> 
    <section class="content">
        <div class="block-content">
            <h3 class="block-title">Portafolio</h3>
            <div class="row">
                <div class="col-md-12">   
                    <div class="portfolio-container row isotope" id="portfolio-container">
                        <!-- WORK 1 START -->
                        <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item artwork" *ngFor="let projectsx of cs. newProjects">
                           
                                <div class="portfolio-column">
                                    <div class="portfolio-hover">
                                        <div class="portfolio-content">
                                            <h2>{{projectsx.name_projects}}</h2>
                                            <hr>
                                            <p>{{projectsx.descrip}}</p>
                                        </div>
                                        <div class="portfolio-overlay"></div>
                                    </div>
                                    <img src="{{projectsx.image_url}}" alt="" >
                                </div>
                               <div class="info"><a href="https://www.instagram.com/sasoorganizers_atl/" target="_blank" class="insta-projects"><i class="ion-social-instagram" ></i></a>
                               </div>
                    </div>
                </div>
            </div>
        </div>
</div>

  </section>
